.primary{
    background-color: blue;
    color: white;
    display: flex;
    text-align: center;
}
.sucess{
    background-color: green;
    color: white;
    display: flex;
    text-align: center;

}
.waring{
    background-color: yellow;
    color: white;
    display: flex;
    text-align: center;
}
.danger{
    background-color: red;
    color: white;
    display: flex;
    text-align: center;

}
.SucessText{
    width: 200;
    height: 40;
    border-color: rgb(17, 123, 123);
    background-color: rgb(142, 232, 202);
    color: black;

}